@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  --Eggshell: #f3e5d7;
  --BrandyRed: #854632;
  --DarkCharcoal: #312e2c;
  --DarkRaspberry: #7a284e;
  --Snow: #fff7fb;
  --WengeBrown: #5f564d;
  --White: #ffffff;
  --WhiteCoffee: #e3ddd7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  background-color: var(--Eggshell);
  display: flex;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--BrandyRed);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
}

.card__img {
  display: flex;
}

.card__content {
  padding-top: 40px;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-right: 32px;
}

.card__content__intro {
  margin: 0;
  margin-bottom: 32px;
}

.card__content__intro__title {
  margin: 0;
  margin-bottom: 24px;
  color: var(--DarkCharcoal);
  font-family: 'Young Serif';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.card__content__intro__desc {
  margin: 0;
  color: var(--WengeBrown);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card__content__prep {
  background-color: var(--Snow);
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 12px;
}

.card__content__prep__title {
  color: var(--DarkRaspberry);
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Outfit';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.card__content__prep__list {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  color: var(--WengeBrown);
}

.card__content__prep__list__item {
  font-family: 'Outfit';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.card__content__prep__list__item::marker {
  color: var(--DarkRaspberry);
  font-size: 10px;
}

.card__content__prep__list__item strong {
  padding: 0;
  font-family: 'Outfit';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.card__ingr {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.card_ingr__title {
  margin: 0;
  color: var(--BrandyRed);
  font-family: 'Young Serif';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
}

.card__ingr__list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--WhiteCoffee);
}

.card__ingr__list__item {
  padding-left: 16px;
  color: var(--WengeBrown);
  font-family: 'Outfit';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.card__ingr__list__item::marker {
  color: var(--BrandyRed);
  font-size: 10px;
}

.card__instruction {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--WhiteCoffee);
}

.card__instruction__title {
  margin: 0;
  color: var(--BrandyRed);
  font-family: 'Young Serif';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
}

.card__instruction__list {
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

.card__instruction__list__item {
  padding-left: 16px;
  color: var(--WengeBrown);
  font-family: 'Outfit';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
}

.card__instruction__list__item strong {
  color: var(--WengeBrown);
  font-family: 'Outfit';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.card__instruction__list__item::marker {
  color: var(--BrandyRed);
  font-family: 'Outfit';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.card__nutrition__title {
  margin: 0;
  margin-bottom: 24px;
  color: var(--BrandyRed);
  font-family: 'Young Serif';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.card__nutrition__text {
  color: var(--WengeBrown);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.card__nutrition__table {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.card__nutrition__table__item {
  display: flex;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--WhiteCoffee);
  flex-basis: 50%;
}

.card__nutrition__table__item--first {
  flex-basis: 50%;
  color: var(--WengeBrown);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

.card__nutrition__table__item--second {
  color: var(--BrandyRed);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-right: 30px;
}

@media screen and (min-width: 500px) {
  main {
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80vw;
    border-radius: 24px;
  }

  footer {
    background-color: var(--Eggshell);
  }
  .card__content__intro__title {
    color: var(--DarkCharcoal);
    font-family: 'Young Serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .card__content__prep {
    padding: 28px;
  }
  .card__content__prep__list__item::marker {
    font-size: 12px;
  }
  .card__ingr__list__item::marker {
    font-size: 12px;
  }
  .card__content {
    padding: 40px;
  }
}

@media screen and (min-width: 800px) {
  .card {
    border-radius: 24px;
    padding: 40px;
    width: 736px;
  }
  main {
    justify-content: center;
    align-items: center;
    padding-top: 124px;
  }
  .card__img {
    border-radius: 12px;
  }
  footer {
    padding-top: 124px;
    background-color: var(--Eggshell);
  }
  .card__content {
    padding: 0;
    padding-top: 40px;
  }
}
