@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
}

.meet-logo {
  align-self: center;
  width: 119px;
  height: 28px;
  margin-top: 48px;
  margin-bottom: 54px;
}

.hero {
  overflow-x: clip;
  margin-bottom: 48px;
}

.hero__img {
  width: 105vw;
  object-position: -20px;
}

.hero--desktop {
  display: none;
}

.content__title {
  display: flex;
  justify-content: center;
  color: #28283d;
  font-family: 'Red Hat Display';
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
}

.content__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 24px 24px 24px;
}

.content__text {
  color: #87879d;
  text-align: center;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 0 24px 32px 24px;
}

.content__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__buttons__download {
  color: #fff;
  background-color: #4d96a9;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  width: 193px;
  height: 58px;
  border-radius: 29px;
  margin-bottom: 16px;
  border: 0;
}

.content__buttons__download:hover {
  background-color: #71c0d4;
  cursor: url('../assets/Pointer.png'), auto;
}

.content__buttons__download--version {
  color: #8fe3f9;
}

.content__buttons__what {
  color: #fff;
  background-color: #855fb1;
  border: 0;
  width: 139px;
  height: 58px;
  border-radius: 29px;
  margin-bottom: 64px;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
}

.content__buttons__what:hover {
  background-color: #b18bdd;
  cursor: url('../assets/Pointer.png'), auto;
}

.numwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.num-1 {
  width: 56px;
  height: 140px;
  flex-shrink: 0;
}

.pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 64px;
}

.pics img {
  width: 151px;
  height: 143px;
  border-radius: 8px;
  background: #d8d8d8;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc__title {
  color: #4d96a9;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.desc__slogan {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 32px;
  color: #28283d;
  text-align: center;
  font-family: 'Red Hat Display';
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
}

.desc__text {
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  color: #87879d;
  text-align: center;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  margin-bottom: 64px;
}

.numwrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
  z-index: 10;
}

.numwrapper__num-2 {
  width: 56px;
  height: 140px;
  flex-shrink: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(
      0deg,
      rgba(77, 150, 169, 0.9),
      rgba(77, 150, 169, 0.9)
    ),
    url('../assets/mobile/image-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer__title {
  color: #fafafa;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Red Hat Display';
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  margin-top: 90px;
  margin-bottom: 24px;
}

.footer__text {
  color: #fafafa;
  text-align: center;
  font-family: 'Red Hat Display';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  margin-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer__buttons__download {
  color: #fff;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  border-radius: 29px;
  background: #855fb1;
  border: 0;
  width: 193px;
  height: 58px;
  margin-bottom: 72px;
  align-self: center;
}

.footer__buttons__download--version {
  color: #d9b8ff;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}

.footer__buttons__download:hover {
  background-color: #b18bdd;
  cursor: url('../assets/Pointer.png'), auto;
}

.attribution {
  color: #fff;
  margin: 0;
  padding: 10px;
  background-color: #28283d;
  text-align: center;
}
.attribution a {
  color: #8fe3f9;
}

@media screen and (min-width: 768px) {
  .content {
    width: 66vw;
    align-self: center;
  }
  .content__buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  .content__buttons__download {
    margin: 0;
    margin-right: 16px;
  }
  .content__buttons__what {
    margin: 0;
  }
  .pics {
    margin-bottom: 48px;
  }
  .desc {
    width: 80vw;
    align-self: center;
  }
  .footer {
    background: linear-gradient(
        0deg,
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url('../assets/tablet/image-footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .footer__text {
    align-self: center;
    width: 79vw;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .meet-logo {
    margin-top: 80px;
    margin-bottom: 108px;
  }

  .pics img {
    width: 255px;
    height: 242px;
  }
  .hero--tablet {
    display: none;
  }

  .hero__imgright {
    object-position: 25px;
    align-self: flex-start;
  }
  .hero__imgleft {
    object-position: -25px;
    margin-top: -25px;
    align-self: flex-start;
  }
  .content--tablet {
    display: none;
  }

  .content__title {
    color: #28283d;
    text-align: center;
    font-family: 'Red Hat Display';
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    margin: 0 0 24px 0;
  }

  .content__text {
    color: #87879d;
    text-align: center;
    font-family: 'Red Hat Display';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    width: 37vw;
    margin: 0 0 32px 0;
  }

  .hero--desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content--desktop {
    display: flex;
    flex-direction: column;
    width: 36vw;
  }
  .hero__imgleft {
    justify-self: start;
  }
  .desc {
    width: 37vw;
  }

  .desc__slogan {
    color: #28283d;
    text-align: center;
    font-family: 'Red Hat Display';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
  }

  .desc__text {
    color: #87879d;
    text-align: center;
    font-family: 'Red Hat Display';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url('../assets/desktop/image-footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 116px;
    padding-bottom: 116px;
  }
  .footer__title {
    text-align: left;
    margin: 0;
  }
  .footer__text {
    margin: 0;
    text-align: left;
    width: 26vw;
    color: #fafafa;
    font-family: 'Red Hat Display';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
  }
  .footer__buttons__download {
    margin: 0;
  }
}
